useDynLib(chebpol,.registration=TRUE, .fixes='C_')

export(chebappx,chebappxf,chebappxg,chebappxgf,chebeval,
       chebknots, evalongrid,chebcoef,havefftw,mlappx,ucappx,ucappxf)
importFrom(compiler,cmpfun)
